/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS Variables */
:root {
  --color-primary: #00008a; /* Blue primary color */
  --color-secondary: #357ab7; /* Darker shade of blue for secondary */
  --color-tertiary: #f5f5f5; /* Light gray background */
  --color-accent: #e0e0e0; /* Light gray accent */
  --color-text: #333; /* Dark text color */
  --color-background: #fff; /* White background */
}

/* Body styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

/* Markdown Editor container */
.markdown-editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header and Footer */
header,
footer {
  text-align: center;
  padding: 20px;
  background-color:#1c1c40;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 5px 0 0;
  font-size: 1em;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}

/* Editor and Preview panes container */
.editor-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: column; /* Default to column for smaller screens */
}

@media (min-width: 768px) {
  .editor-container {
    flex-direction: row; /* Change to row for larger screens */
  }
}

/* Editor pane */
.editor-pane {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--color-tertiary);
}

/* Preview pane */
.preview-pane {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--color-background);
  border-left: 1px solid var(--color-accent); /* Add a border for separation */
}

/* Divider between editor and preview */
.divider {
  display: none; /* Hide by default */
}

@media (min-width: 768px) {
  .divider {
    width: 2px;
    background-color: var(--color-accent);
    display: block; /* Show divider on larger screens */
  }
}

/* Textarea for markdown input */
textarea {
  width: 100%;
  height: 180px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  resize: none;
  background-color: var(--color-tertiary);
  color: var(--color-text);
  box-shadow: 0px 2px 2px 1px rgb(116, 116, 119);
}

textarea:focus {
  box-shadow: 0px 3px 3px 2px rgb(123, 136, 254);
  outline: none; /* Remove default outline */
}

/* Button for exporting markdown */
button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(to top, rgb(0, 76, 255), rgb(146, 151, 248));
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  box-shadow: 0 4px 8px rgb(0, 17, 255);
}

/* Dropzone area for file upload */
.dropzone {
  border: 2px dashed var(--color-accent);
  padding: 20px;
  border-color: var(--color-primary);
  text-align: center;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-accent);
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropzone:hover {
  background-color: var(--color-tertiary);
  border-color: var(--color-accent);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropzone p {
  margin: 0;
  color: #888;
}

/* Markdown preview styles */

.preview-pane {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px; /* Add padding for better spacing */
  border-left: 1px solid var(--color-accent); /* Add a border for separation */
}

.preview-pane p {
  margin-bottom: 1em;
}

.preview-pane a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.preview-pane a:hover {
  color: var(--color-secondary);
}

.preview-pane img {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.preview-pane ul,
.preview-pane ol {
  padding-left: 20px;
}

.preview-pane blockquote {
  margin: 1em 0;
  padding: 10px 20px;
  border-left: 5px solid var(--color-primary);
  background-color: var(--color-tertiary);
  color: var(--color-text);
}

.preview-pane table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.preview-pane th,
.preview-pane td {
  padding: 10px;
  border: 1px solid var(--color-accent);
  text-align: left;
}

.preview-pane th {
  background-color: var(--color-primary);
  color: #fff;
}

.preview-pane td {
  background-color: var(--color-tertiary);
}

.preview-pane pre {
  background-color: var(--color-tertiary);
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  color: var(--color-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preview-pane code {
  background-color: var(--color-accent);
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--color-text);
}

.preview-pane h1,
.preview-pane h2,
.preview-pane h3,
.preview-pane h4,
.preview-pane h5,
.preview-pane h6 {
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: var(--color-primary);
}
